/* You can add global styles to this file, and also import other style files */

@use "core-ui/scss" as coreUIModule;

@use "feature-module/scss" as featureModule;

@include coreUIModule.load();

@include featureModule.load(
  $background-color: blue,
  $border-color: green
);

.dark-theme {
  @include featureModule.load(
    $background-color: black, 
    $border-color: gray
  );
}